
 p{
    color: black;
 }
 /*seletor class*/
 .bolha {
    color: black;
 }
 /*seletor id*/
 #henry{
    color: red;
 }
 body {
    background: linear-gradient(to right, paleturquoise 60%,lightblue,white );
 }
 div {
    background-color: rgb(179, 191, 201);
  }
 h1 {
    color: blueviolet;
 }
 .um { 
    background-color: rgb(112, 194, 205);
 }