.menu{
    height: 50px;
    width: 2000px;
    background-color: rgb(177, 66, 66);
    position: fixed;
    top: 0;
    left: 0;
    align-content: center;
    padding-bottom: 20px;
    padding: 15px;
    text-align: left ;
}
.index{
    display: inline-block;
    padding: 15px;
    background-color: rgb(177, 110, 110);
}
.paginar{
    display: inline-block;
    padding: 15px;
    background-color: rgb(177, 110, 110);
}
.paginap{
    display: inline-block;
    padding: 15px;
    background-color: rgb(177, 110, 110);
}
.paginac{
    display: inline-block;
    padding: 15px;
    background-color: rgb(177, 110, 110);
}
img{
    width: 1500px;
    height: 800px;
}
body{
    background-color: burlywood;
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.texto{
    background-color: gainsboro;
    border: 2px solid black;
    font-size: larger;
    text-align: justify;
    padding: 10px;
    
}
h1{
    text-align: center;
    color: brown;
}
a {
text-decoration: none;
color: palegoldenrod;
}
