body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}


.conteudo {
  text-align: center;
  margin-top: 60px;
}

h2, p {
  margin: 10px 0;
  text-align: center;
}

.imagem {
  width: 500px;         
  margin: 20px auto;     
  border-radius: 15px;    
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
}


.conteudo h1 {
  color: #54bbfb;
  margin-top: 40px;
}


.conteudo h2 {
  margin-top: 40px;
}


.card {
  background: rgb(167, 240, 254);
  width: 400px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

/* ========== MENU ========== */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

/* ========== FORMULÁRIO ========== */
.formulario {
  width: 500px;
  margin: 0 auto 30px auto;
}

.formulario h3 {
  text-align: center;
}

label {
  display: block;
}

input[type=text],
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 8px;
}

/* Botão */
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-enviar {
  border: 2px solid #04a2aa;
}

.button-enviar:hover {
  background-color: #046aaa;
  color: white;
}

/* ========== TABELA ========== */
.tabela {
  width: 700px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dbd7ed;
}

tr:hover {
  background-color: #bbb4be;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0793b3;
  color: white;
}

.titulo {
  width: 100px;
}