.maior {
    width: 400px;
    height: 300px;
    background-color: aqua;
    position: relative;
}
.menor{
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute; 
    bottom: 0;
    right: 0;
}